<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Website{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <style>
		@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Cabin+Sketch:wght@400;700&family=Freckle+Face&family=Permanent+Marker&display=swap');
	</style>
</head>
<body>

<!-- Navbar -->
{% include 'navbar.html' %}

<!-- Page content -->
<div class="content">
    {% block content %}{% endblock %}
</div>

<!-- Footer -->
{% include 'footer.html' %}

<!-- Page-specific scripts -->
{% block scripts %}{% endblock %}

</body>
</html>
