{% extends "base.html" %}

{% block title %}Dress Up Game{% endblock %}

{% block content %}

<!--contains page content-->
<div class="login-page">
<!--    jinja2 template syntax- for rendering html with dynamic data in flask-->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

<!--    contains login boxes-->
    <div id="login-wrapper">

        <form id="login-form" method="POST" action="{{ url_for('login') }}">
            <label for="login-username">Username:</label>
            <input type="text" id="login-username" name="username" required>

            <label for="login-password">Password:</label>
            <input type="password" id="login-password" name="password" required>

            <button type="submit" class="login-btn">Login</button>
        </form>

        <form id="signup-form" method="POST" action="{{ url_for('register') }}">
            <label for="register-username">Desired Username:</label>
            <input type="text" id="register-username" name="username" required>

            <label for="register-password">Strong Password:</label>
            <input type="password" id="register-password" name="password" required>

            <label for="discord">Link your discord account:</label>
            <input type="text" id="discord" name="discord" placeholder="paste your discord username" required>

            <button type="submit" class="login-btn">Register</button>
        </form>

        <p class="toggle" id="login-register-switch" onclick="toggleForm()">Don't have an account? Sign up here!</p>
<!--        close login wrapper-->
    </div>
<!--    close wrapper-->
</div>

<script>
    function toggleForm() {
        const loginForm = document.getElementById("login-form");
        const signupForm = document.getElementById("signup-form");
        const toggleText = document.querySelector(".toggle");
        const title = document.getElementById("form-title");

        if (loginForm.style.display === "none") {
            loginForm.style.display = "block";
            signupForm.style.display = "none";
            toggleText.innerHTML = "Don't have an account? Sign up here!";
            title.innerHTML = "Login";
        } else {
            loginForm.style.display = "none";
            signupForm.style.display = "block";
            toggleText.innerHTML = "Already have an account? Login";
            title.innerHTML = "Sign Up";
        }
    }
</script>

{% endblock %}